USE [techstore]
GO
/****** Object:  User [LUONGCONG]    Script Date: 6/10/2026 11:35:03 AM ******/
CREATE USER [LUONGCONG] FOR LOGIN [LUONGCONG] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachments]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityType] [nvarchar](50) NULL,
	[EntityId] [int] NULL,
	[FileName] [nvarchar](250) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[FileUrl] [nvarchar](500) NULL,
	[ContentType] [nvarchar](120) NULL,
	[Size] [bigint] NULL,
	[UploadedByUserId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Kicker] [nvarchar](200) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[SubTitle] [nvarchar](500) NOT NULL,
	[CtaLabel] [nvarchar](100) NOT NULL,
	[CtaTo] [nvarchar](500) NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[OfferTitle] [nvarchar](100) NOT NULL,
	[OfferDiscount] [nvarchar](50) NOT NULL,
	[OfferProduct] [nvarchar](200) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Banners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategorySuppliers]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorySuppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NULL,
	[Discount] [decimal](18, 2) NULL,
	[ExpiredAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Type] [nvarchar](40) NOT NULL,
	[DiscountType] [nvarchar](40) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MaxDiscountAmount] [decimal](18, 2) NULL,
	[MinOrderAmount] [decimal](18, 2) NOT NULL,
	[StartAt] [datetime2](7) NOT NULL,
	[EndAt] [datetime2](7) NOT NULL,
	[TotalQuantity] [int] NOT NULL,
	[UsedQuantity] [int] NOT NULL,
	[ClaimedQuantity] [int] NOT NULL,
	[PerUserLimit] [int] NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[IsAutoClaimable] [bit] NOT NULL,
	[IsStackable] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[IsSpinReward] [bit] NOT NULL,
	[SpinWeight] [int] NOT NULL,
	[AllowedPaymentMethods] [nvarchar](240) NULL,
	[DailyUsageLimit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CouponScopes]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouponScopes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CouponId] [int] NOT NULL,
	[ScopeType] [nvarchar](50) NULL,
	[ScopeValue] [nvarchar](250) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ProductId] [int] NULL,
	[CategoryId] [int] NULL,
	[Brand] [nvarchar](120) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsReceiptLines]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsReceiptLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GoodsReceiptId] [int] NOT NULL,
	[ProductId] [int] NULL,
	[VariantId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[UnitCost] [decimal](18, 2) NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsReceipts]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptCode] [nvarchar](40) NOT NULL,
	[SupplierId] [int] NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[WarehouseId] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[TotalCost] [decimal](18, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ReceivedAt] [datetime2](7) NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[TotalQuantity] [int] NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoodsReceiptSerials]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsReceiptSerials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GoodsReceiptLineId] [int] NOT NULL,
	[SerialOrImei] [nvarchar](120) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[StockItemId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryReturns]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryReturns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReturnCode] [nvarchar](40) NOT NULL,
	[StockItemId] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[Status] [nvarchar](40) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[OrderId] [int] NULL,
	[OrderDetailId] [int] NULL,
	[ProductId] [int] NULL,
	[VariantId] [int] NULL,
	[SerialOrImei] [nvarchar](120) NULL,
	[CustomerName] [nvarchar](160) NULL,
	[CustomerPhone] [nvarchar](30) NULL,
	[Condition] [nvarchar](40) NULL,
	[RefundAmount] [decimal](18, 2) NULL,
	[Note] [nvarchar](1000) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[ReviewedByUserId] [uniqueidentifier] NULL,
	[ReviewNote] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantId] [int] NULL,
	[Type] [nvarchar](40) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitCost] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ReferenceId] [int] NULL,
	[Note] [nvarchar](1000) NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_InventoryTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[IsRead] [bit] NULL,
	[Link] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Type] [nvarchar](40) NULL,
	[ReferenceType] [nvarchar](40) NULL,
	[ReferenceId] [int] NULL,
	[ReadAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderCancellations]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderCancellations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[Status] [nvarchar](40) NULL,
	[AdminNote] [nvarchar](max) NULL,
	[RequestedAt] [datetime2](7) NULL,
	[RequestedByUserId] [uniqueidentifier] NULL,
	[ReviewedByUserId] [uniqueidentifier] NULL,
	[ReviewedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderCoupons]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderCoupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[CouponId] [int] NOT NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UserCouponId] [int] NULL,
	[CouponCode] [nvarchar](60) NOT NULL,
	[CouponName] [nvarchar](200) NOT NULL,
	[CouponType] [nvarchar](40) NOT NULL,
	[DiscountType] [nvarchar](40) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NULL,
	[VariantId] [int] NULL,
	[ProductName] [nvarchar](250) NULL,
	[ProductImage] [nvarchar](500) NULL,
	[Sku] [nvarchar](100) NULL,
	[SelectedColor] [nvarchar](100) NULL,
	[SelectedVersion] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[SerialOrImei] [nvarchar](120) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetailStockItems]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetailStockItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDetailId] [int] NOT NULL,
	[StockItemId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [nvarchar](40) NULL,
	[UserId] [uniqueidentifier] NULL,
	[CustomerName] [nvarchar](160) NULL,
	[CustomerPhone] [nvarchar](30) NULL,
	[CustomerEmail] [nvarchar](160) NULL,
	[Subtotal] [decimal](18, 2) NULL,
	[ProductDiscount] [decimal](18, 2) NULL,
	[ShippingFee] [decimal](18, 2) NULL,
	[ShippingDiscount] [decimal](18, 2) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[Status] [nvarchar](40) NULL,
	[PaymentMethod] [nvarchar](40) NULL,
	[PaymentStatus] [nvarchar](40) NULL,
	[TransactionId] [nvarchar](120) NULL,
	[ShippingMethod] [nvarchar](40) NULL,
	[ShippingAddress] [nvarchar](500) NULL,
	[Province] [nvarchar](120) NULL,
	[District] [nvarchar](120) NULL,
	[Ward] [nvarchar](120) NULL,
	[AddressDetail] [nvarchar](300) NULL,
	[StorePickupLocation] [nvarchar](250) NULL,
	[InvoiceCompanyName] [nvarchar](200) NULL,
	[InvoiceTaxCode] [nvarchar](40) NULL,
	[InvoiceAddress] [nvarchar](300) NULL,
	[InvoiceEmail] [nvarchar](160) NULL,
	[Notes] [nvarchar](max) NULL,
	[CancelReason] [nvarchar](max) NULL,
	[CancelReviewNote] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ExpectedPickupTime] [datetime2](7) NULL,
	[InvoiceRequired] [bit] NOT NULL,
	[CancelRequestedAt] [datetime2](7) NULL,
	[CancelReviewedAt] [datetime2](7) NULL,
	[CancelReviewedByUserId] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedByUserId] [uniqueidentifier] NULL,
	[Carrier] [nvarchar](120) NULL,
	[DeliveredAt] [datetime2](7) NULL,
	[DeliveryFailedReason] [nvarchar](500) NULL,
	[RefundAmount] [decimal](18, 2) NULL,
	[RefundStatus] [nvarchar](40) NULL,
	[RefundTransactionId] [nvarchar](120) NULL,
	[RefundedAt] [datetime2](7) NULL,
	[ReturnStatus] [nvarchar](40) NULL,
	[ReturnedAt] [datetime2](7) NULL,
	[ShippedAt] [datetime2](7) NULL,
	[TrackingCode] [nvarchar](120) NULL,
	[PickupExpiresAt] [datetime2](7) NULL,
	[PickupSlotEndAt] [datetime2](7) NULL,
	[PickupSlotStartAt] [datetime2](7) NULL,
	[PickupVerificationPin] [nvarchar](12) NULL,
	[PickupWarehouseId] [int] NULL,
	[ReadyForPickupAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderTimelines]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderTimelines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[AltText] [nvarchar](250) NULL,
	[SortOrder] [int] NULL,
	[IsPrimary] [bit] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductRecommendations]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductRecommendations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[RecommendedProductId] [int] NOT NULL,
	[SortOrder] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Type] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](220) NULL,
	[Sku] [nvarchar](80) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[OriginalPrice] [decimal](18, 2) NULL,
	[Description] [nvarchar](max) NULL,
	[LongDescription] [nvarchar](max) NULL,
	[Brand] [nvarchar](120) NULL,
	[CategoryId] [int] NULL,
	[Stock] [int] NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[SupplierId] [int] NULL,
	[BackupSupplierId] [int] NULL,
	[SupplyType] [nvarchar](80) NULL,
	[WarrantyProvider] [nvarchar](160) NULL,
	[IsActive] [bit] NULL,
	[IsFeatured] [bit] NULL,
	[IsBestSeller] [bit] NULL,
	[IsNewArrival] [bit] NULL,
	[IsDiscounted] [bit] NULL,
	[RequiresSerialTracking] [bit] NULL,
	[WarrantyMonths] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSpecValues]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSpecValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SpecDefinitionId] [int] NOT NULL,
	[SpecOptionId] [int] NULL,
	[ValueText] [nvarchar](2000) NULL,
	[ValueNumber] [decimal](18, 4) NULL,
	[ValueBool] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantName] [nvarchar](160) NULL,
	[ColorName] [nvarchar](80) NULL,
	[ColorCode] [nvarchar](32) NULL,
	[Storage] [nvarchar](80) NULL,
	[Ram] [nvarchar](80) NULL,
	[Price] [decimal](18, 2) NULL,
	[OriginalPrice] [decimal](18, 2) NULL,
	[Sku] [nvarchar](80) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Stock] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairCases]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairCases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CaseCode] [nvarchar](40) NOT NULL,
	[SerialNumber] [nvarchar](120) NULL,
	[ProductId] [int] NULL,
	[IssueDescription] [nvarchar](max) NULL,
	[Status] [nvarchar](40) NULL,
	[EstimatedCost] [decimal](18, 2) NULL,
	[ActualCost] [decimal](18, 2) NULL,
	[CustomerName] [nvarchar](200) NULL,
	[CustomerPhone] [nvarchar](30) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[RepairCode] [nvarchar](40) NULL,
	[WarrantyClaimId] [int] NULL,
	[TicketId] [int] NULL,
	[StockItemId] [int] NULL,
	[VariantId] [int] NULL,
	[SerialOrImei] [nvarchar](120) NULL,
	[ProductName] [nvarchar](250) NULL,
	[Diagnosis] [nvarchar](2000) NULL,
	[Solution] [nvarchar](2000) NULL,
	[TechnicianId] [uniqueidentifier] NULL,
	[Priority] [nvarchar](40) NULL,
	[ReceivedAt] [datetime2](7) NULL,
	[EstimatedCompletionAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[CostEstimate] [decimal](18, 2) NULL,
	[FinalCost] [decimal](18, 2) NULL,
	[IsWarrantyCovered] [bit] NULL,
	[CustomerApprovedCost] [bit] NULL,
	[Note] [nvarchar](1000) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairUpdates]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairUpdates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RepairCaseId] [int] NOT NULL,
	[Status] [nvarchar](40) NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Title] [nvarchar](200) NULL,
	[Message] [nvarchar](1000) NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](24) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[Created] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[Modified] [datetime2](7) NULL,
	[CreatedUser] [nvarchar](100) NULL,
	[CreatedDateTime] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
	[RoleType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecDefinitions]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecDefinitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NULL,
	[Name] [nvarchar](160) NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[DataType] [nvarchar](30) NULL,
	[InputType] [nvarchar](30) NULL,
	[Unit] [nvarchar](40) NULL,
	[AllowCustomValue] [bit] NULL,
	[IsComparable] [bit] NULL,
	[IsFilterable] [bit] NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsRequired] [bit] NOT NULL,
	[IsVariantAxis] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecOptions]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecOptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpecDefinitionId] [int] NOT NULL,
	[Value] [nvarchar](250) NOT NULL,
	[DisplayOrder] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockItems]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[VariantId] [int] NULL,
	[SerialOrImei] [nvarchar](120) NOT NULL,
	[Sku] [nvarchar](100) NULL,
	[Status] [nvarchar](40) NULL,
	[UnitCost] [decimal](18, 2) NULL,
	[SupplierName] [nvarchar](200) NULL,
	[SupplierId] [int] NULL,
	[WarehouseId] [int] NULL,
	[OrderId] [int] NULL,
	[OrderDetailId] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ReceivedAt] [datetime2](7) NULL,
	[SoldAt] [datetime2](7) NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovements]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[VariantId] [int] NULL,
	[StockItemId] [int] NULL,
	[WarehouseId] [int] NULL,
	[Type] [nvarchar](40) NOT NULL,
	[Quantity] [int] NOT NULL,
	[FromStatus] [nvarchar](40) NULL,
	[ToStatus] [nvarchar](40) NULL,
	[ReferenceType] [nvarchar](40) NOT NULL,
	[ReferenceId] [int] NULL,
	[Note] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_StockMovements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreSettings]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](200) NULL,
	[Hotline] [nvarchar](20) NULL,
	[SupportEmail] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[WarrantyAddress] [nvarchar](500) NULL,
	[DefaultShippingFee] [decimal](18, 2) NULL,
	[FreeShippingThreshold] [decimal](18, 2) NULL,
	[SupportTime] [nvarchar](200) NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[FacebookUrl] [nvarchar](500) NULL,
	[ZaloUrl] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[BankAccountHolder] [nvarchar](160) NULL,
	[BankAccountNumber] [nvarchar](40) NULL,
	[BankName] [nvarchar](160) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierCode] [nvarchar](40) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](160) NULL,
	[Address] [nvarchar](300) NULL,
	[TaxCode] [nvarchar](40) NULL,
	[ContactPerson] [nvarchar](160) NULL,
	[SupplierType] [nvarchar](40) NULL,
	[Note] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CategoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTickets]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketCode] [nvarchar](40) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Subject] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](40) NULL,
	[Priority] [nvarchar](20) NULL,
	[Category] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CustomerName] [nvarchar](160) NULL,
	[CustomerPhone] [nvarchar](30) NULL,
	[CustomerEmail] [nvarchar](160) NULL,
	[RelatedOrderId] [int] NULL,
	[RelatedProductId] [int] NULL,
	[RelatedWarrantyId] [int] NULL,
	[SerialOrImei] [nvarchar](120) NULL,
	[AssignedToUserId] [uniqueidentifier] NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ClosedAt] [datetime2](7) NULL,
	[UserSessionId] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTicketUpdates]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTicketUpdates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[Message] [nvarchar](3000) NOT NULL,
	[StatusAfter] [nvarchar](40) NULL,
	[PriorityAfter] [nvarchar](40) NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[IsInternalNote] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsAdminReply] [bit] NOT NULL,
	[ParentMessageId] [int] NULL,
	[SenderName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SupportTicketUpdates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCoupons]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCoupons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[CouponId] [int] NOT NULL,
	[IsUsed] [bit] NULL,
	[UsedAt] [datetime2](7) NULL,
	[OrderId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ClaimedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](40) NOT NULL,
	[ExpiredAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[UserType] [int] NULL,
	[Created] [datetime2](7) NULL,
	[Salt] [varbinary](max) NULL,
	[Contact] [nvarchar](100) NULL,
	[Position] [nvarchar](100) NULL,
	[Image] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoucherSpins]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoucherSpins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[CouponId] [int] NULL,
	[SpinDate] [datetime2](7) NULL,
	[RewardCouponId] [int] NULL,
	[RewardCode] [nvarchar](60) NULL,
	[ResultType] [nvarchar](40) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](160) NOT NULL,
	[Code] [nvarchar](40) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyClaims]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimCode] [nvarchar](40) NOT NULL,
	[WarrantyRecordId] [int] NOT NULL,
	[IssueDescription] [nvarchar](max) NULL,
	[Status] [nvarchar](40) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UserId] [uniqueidentifier] NULL,
	[OrderId] [int] NULL,
	[OrderDetailId] [int] NULL,
	[ProductId] [int] NULL,
	[VariantId] [int] NULL,
	[StockItemId] [int] NULL,
	[SerialOrImei] [nvarchar](120) NULL,
	[CustomerName] [nvarchar](160) NULL,
	[CustomerPhone] [nvarchar](30) NULL,
	[CustomerEmail] [nvarchar](160) NULL,
	[ReceiveMethod] [nvarchar](40) NULL,
	[ReturnAddress] [nvarchar](500) NULL,
	[Priority] [nvarchar](40) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ReceivedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
	[RejectedReason] [nvarchar](1000) NULL,
	[Note] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyClaimUpdates]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyClaimUpdates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WarrantyClaimId] [int] NOT NULL,
	[Status] [nvarchar](40) NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[Title] [nvarchar](200) NULL,
	[Message] [nvarchar](1000) NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyRecords]    Script Date: 6/10/2026 11:35:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](120) NOT NULL,
	[ProductId] [int] NULL,
	[WarrantyMonths] [int] NULL,
	[CustomerName] [nvarchar](200) NULL,
	[CustomerPhone] [nvarchar](30) NULL,
	[CustomerEmail] [nvarchar](160) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[WarrantyCode] [nvarchar](40) NULL,
	[UserId] [uniqueidentifier] NULL,
	[OrderId] [int] NULL,
	[OrderDetailId] [int] NULL,
	[VariantId] [int] NULL,
	[StockItemId] [int] NULL,
	[ProductName] [nvarchar](250) NULL,
	[ProductImage] [nvarchar](500) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Status] [nvarchar](40) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Note] [nvarchar](1000) NULL,
	[ActivatedAt] [datetime2](7) NULL,
	[ExpiresAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attachments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Banners] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Brands] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CategorySuppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CategorySuppliers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_Name]  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_Type]  DEFAULT (N'Product') FOR [Type]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_DiscountType]  DEFAULT (N'Amount') FOR [DiscountType]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_DiscountValue]  DEFAULT ((0)) FOR [DiscountValue]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_MinOrderAmount]  DEFAULT ((0)) FOR [MinOrderAmount]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_StartAt]  DEFAULT ('2026-01-01T00:00:00') FOR [StartAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_EndAt]  DEFAULT ('2026-12-31T23:59:59') FOR [EndAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_TotalQuantity]  DEFAULT ((1000)) FOR [TotalQuantity]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_UsedQuantity_Legacy]  DEFAULT ((0)) FOR [UsedQuantity]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_ClaimedQuantity_Legacy]  DEFAULT ((0)) FOR [ClaimedQuantity]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_PerUserLimit_Legacy]  DEFAULT ((1)) FOR [PerUserLimit]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_IsPublic_Legacy]  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_IsAutoClaimable_Legacy]  DEFAULT ((1)) FOR [IsAutoClaimable]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_IsStackable_Legacy]  DEFAULT ((0)) FOR [IsStackable]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_CreatedAt_Legacy]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsSpinReward]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [SpinWeight]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [DailyUsageLimit]
GO
ALTER TABLE [dbo].[CouponScopes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GoodsReceiptLines] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GoodsReceipts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GoodsReceiptSerials] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryReturns] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[InventoryReturns] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  CONSTRAINT [DF_InventoryTransactions_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderCancellations] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[OrderCancellations] ADD  DEFAULT (getdate()) FOR [RequestedAt]
GO
ALTER TABLE [dbo].[OrderCoupons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderCoupons] ADD  CONSTRAINT [DF_OrderCoupons_CouponCode_Legacy]  DEFAULT (N'') FOR [CouponCode]
GO
ALTER TABLE [dbo].[OrderCoupons] ADD  CONSTRAINT [DF_OrderCoupons_CouponName_Legacy]  DEFAULT (N'') FOR [CouponName]
GO
ALTER TABLE [dbo].[OrderCoupons] ADD  CONSTRAINT [DF_OrderCoupons_CouponType_Legacy]  DEFAULT (N'Product') FOR [CouponType]
GO
ALTER TABLE [dbo].[OrderCoupons] ADD  CONSTRAINT [DF_OrderCoupons_DiscountType_Legacy]  DEFAULT (N'Amount') FOR [DiscountType]
GO
ALTER TABLE [dbo].[OrderCoupons] ADD  CONSTRAINT [DF_OrderCoupons_DiscountValue_Legacy]  DEFAULT ((0)) FOR [DiscountValue]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderDetailStockItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Unpaid') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderDate_Legacy]  DEFAULT (sysutcdatetime()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_InvoiceRequired_Legacy]  DEFAULT ((0)) FOR [InvoiceRequired]
GO
ALTER TABLE [dbo].[OrderTimelines] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductImages] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[ProductImages] ADD  CONSTRAINT [DF_ProductImages_CreatedAt_Legacy]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductRecommendations] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ProductRecommendations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductRecommendations] ADD  CONSTRAINT [DF_ProductRecommendations_Type_Legacy]  DEFAULT (N'CrossSell') FOR [Type]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsBestSeller]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsNewArrival]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsDiscounted]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [RequiresSerialTracking]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((12)) FOR [WarrantyMonths]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductSpecValues] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_CreatedAt_Legacy]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RepairCases] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[RepairCases] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RepairUpdates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((0)) FOR [RoleType]
GO
ALTER TABLE [dbo].[SpecDefinitions] ADD  DEFAULT ('text') FOR [DataType]
GO
ALTER TABLE [dbo].[SpecDefinitions] ADD  DEFAULT ('text') FOR [InputType]
GO
ALTER TABLE [dbo].[SpecDefinitions] ADD  DEFAULT ((1)) FOR [AllowCustomValue]
GO
ALTER TABLE [dbo].[SpecDefinitions] ADD  DEFAULT ((0)) FOR [IsComparable]
GO
ALTER TABLE [dbo].[SpecDefinitions] ADD  DEFAULT ((0)) FOR [IsFilterable]
GO
ALTER TABLE [dbo].[SpecDefinitions] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[SpecDefinitions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SpecDefinitions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SpecDefinitions] ADD  CONSTRAINT [DF_SpecDefinitions_IsRequired_Legacy]  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[SpecDefinitions] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsVariantAxis]
GO
ALTER TABLE [dbo].[SpecOptions] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[SpecOptions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SpecOptions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockItems] ADD  DEFAULT ('InStock') FOR [Status]
GO
ALTER TABLE [dbo].[StockItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StockMovements] ADD  CONSTRAINT [DF_StockMovements_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StoreSettings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StoreSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  DEFAULT ('Normal') FOR [Priority]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupportTicketUpdates] ADD  CONSTRAINT [DF_SupportTicketUpdates_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SupportTicketUpdates] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAdminReply]
GO
ALTER TABLE [dbo].[SupportTicketUpdates] ADD  DEFAULT (N'') FOR [SenderName]
GO
ALTER TABLE [dbo].[UserCoupons] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[UserCoupons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserCoupons] ADD  CONSTRAINT [DF_UserCoupons_ClaimedAt_Legacy]  DEFAULT (sysutcdatetime()) FOR [ClaimedAt]
GO
ALTER TABLE [dbo].[UserCoupons] ADD  CONSTRAINT [DF_UserCoupons_Status_Legacy]  DEFAULT (N'Claimed') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [UserType]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VoucherSpins] ADD  DEFAULT (getdate()) FOR [SpinDate]
GO
ALTER TABLE [dbo].[VoucherSpins] ADD  CONSTRAINT [DF_VoucherSpins_ResultType_Legacy]  DEFAULT (N'NoReward') FOR [ResultType]
GO
ALTER TABLE [dbo].[VoucherSpins] ADD  CONSTRAINT [DF_VoucherSpins_CreatedAt_Legacy]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Warehouses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Warehouses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WarrantyClaims] ADD  DEFAULT ((0)) FOR [WarrantyRecordId]
GO
ALTER TABLE [dbo].[WarrantyClaims] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[WarrantyClaims] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WarrantyClaimUpdates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WarrantyRecords] ADD  DEFAULT (N'') FOR [SerialNumber]
GO
ALTER TABLE [dbo].[WarrantyRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WarrantyRecords] ADD  DEFAULT (N'NotActivated') FOR [Status]
GO
ALTER TABLE [dbo].[Attachments]  WITH CHECK ADD  CONSTRAINT [FK_Attachments_Users_UploadedByUserId] FOREIGN KEY([UploadedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Attachments] CHECK CONSTRAINT [FK_Attachments_Users_UploadedByUserId]
GO
ALTER TABLE [dbo].[CategorySuppliers]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategorySuppliers]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [FK_Coupons_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [FK_Coupons_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[CouponScopes]  WITH CHECK ADD FOREIGN KEY([CouponId])
REFERENCES [dbo].[Coupons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GoodsReceiptLines]  WITH CHECK ADD FOREIGN KEY([GoodsReceiptId])
REFERENCES [dbo].[GoodsReceipts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GoodsReceiptLines]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[GoodsReceiptLines]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[GoodsReceipts]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GoodsReceipts]  WITH CHECK ADD FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[GoodsReceipts]  WITH CHECK ADD  CONSTRAINT [FK_GoodsReceipts_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[GoodsReceipts] CHECK CONSTRAINT [FK_GoodsReceipts_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[GoodsReceiptSerials]  WITH CHECK ADD FOREIGN KEY([GoodsReceiptLineId])
REFERENCES [dbo].[GoodsReceiptLines] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryReturns]  WITH CHECK ADD FOREIGN KEY([StockItemId])
REFERENCES [dbo].[StockItems] ([Id])
GO
ALTER TABLE [dbo].[InventoryReturns]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReturns_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InventoryReturns] CHECK CONSTRAINT [FK_InventoryReturns_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[InventoryReturns]  WITH CHECK ADD  CONSTRAINT [FK_InventoryReturns_Users_ReviewedByUserId] FOREIGN KEY([ReviewedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InventoryReturns] CHECK CONSTRAINT [FK_InventoryReturns_Users_ReviewedByUserId]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Products]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_ProductVariants] FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_ProductVariants]
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_InventoryTransactions_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[InventoryTransactions] CHECK CONSTRAINT [FK_InventoryTransactions_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[OrderCancellations]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderCancellations]  WITH CHECK ADD  CONSTRAINT [FK_OrderCancellations_Users_RequestedByUserId] FOREIGN KEY([RequestedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[OrderCancellations] CHECK CONSTRAINT [FK_OrderCancellations_Users_RequestedByUserId]
GO
ALTER TABLE [dbo].[OrderCancellations]  WITH CHECK ADD  CONSTRAINT [FK_OrderCancellations_Users_ReviewedByUserId] FOREIGN KEY([ReviewedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[OrderCancellations] CHECK CONSTRAINT [FK_OrderCancellations_Users_ReviewedByUserId]
GO
ALTER TABLE [dbo].[OrderCoupons]  WITH CHECK ADD FOREIGN KEY([CouponId])
REFERENCES [dbo].[Coupons] ([Id])
GO
ALTER TABLE [dbo].[OrderCoupons]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[OrderDetailStockItems]  WITH CHECK ADD FOREIGN KEY([OrderDetailId])
REFERENCES [dbo].[OrderDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetailStockItems]  WITH CHECK ADD FOREIGN KEY([StockItemId])
REFERENCES [dbo].[StockItems] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_CancelReviewedByUserId] FOREIGN KEY([CancelReviewedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_CancelReviewedByUserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UpdatedByUserId] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UpdatedByUserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserId]
GO
ALTER TABLE [dbo].[OrderTimelines]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderTimelines]  WITH CHECK ADD  CONSTRAINT [FK_OrderTimelines_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[OrderTimelines] CHECK CONSTRAINT [FK_OrderTimelines_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductRecommendations]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductRecommendations]  WITH CHECK ADD FOREIGN KEY([RecommendedProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([BackupSupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[ProductSpecValues]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSpecValues]  WITH CHECK ADD FOREIGN KEY([SpecDefinitionId])
REFERENCES [dbo].[SpecDefinitions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSpecValues]  WITH CHECK ADD FOREIGN KEY([SpecOptionId])
REFERENCES [dbo].[SpecOptions] ([Id])
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairCases]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[RepairCases]  WITH CHECK ADD  CONSTRAINT [FK_RepairCases_Users_TechnicianId] FOREIGN KEY([TechnicianId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RepairCases] CHECK CONSTRAINT [FK_RepairCases_Users_TechnicianId]
GO
ALTER TABLE [dbo].[RepairUpdates]  WITH CHECK ADD FOREIGN KEY([RepairCaseId])
REFERENCES [dbo].[RepairCases] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RepairUpdates]  WITH CHECK ADD  CONSTRAINT [FK_RepairUpdates_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[RepairUpdates] CHECK CONSTRAINT [FK_RepairUpdates_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[SpecDefinitions]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpecOptions]  WITH CHECK ADD FOREIGN KEY([SpecDefinitionId])
REFERENCES [dbo].[SpecDefinitions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD FOREIGN KEY([VariantId])
REFERENCES [dbo].[ProductVariants] ([Id])
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouses] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD  CONSTRAINT [FK_StockItems_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StockItems] CHECK CONSTRAINT [FK_StockItems_Users_CustomerId]
GO
ALTER TABLE [dbo].[StockMovements]  WITH CHECK ADD  CONSTRAINT [FK_StockMovements_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StockMovements] CHECK CONSTRAINT [FK_StockMovements_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_Categories]
GO
ALTER TABLE [dbo].[SupportTickets]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SupportTickets]  WITH CHECK ADD  CONSTRAINT [FK_SupportTickets_Users_AssignedToUserId] FOREIGN KEY([AssignedToUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SupportTickets] CHECK CONSTRAINT [FK_SupportTickets_Users_AssignedToUserId]
GO
ALTER TABLE [dbo].[SupportTickets]  WITH CHECK ADD  CONSTRAINT [FK_SupportTickets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SupportTickets] CHECK CONSTRAINT [FK_SupportTickets_Users_UserId]
GO
ALTER TABLE [dbo].[SupportTicketUpdates]  WITH CHECK ADD  CONSTRAINT [FK_SupportTicketUpdates_SupportTickets_TicketId] FOREIGN KEY([TicketId])
REFERENCES [dbo].[SupportTickets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupportTicketUpdates] CHECK CONSTRAINT [FK_SupportTicketUpdates_SupportTickets_TicketId]
GO
ALTER TABLE [dbo].[SupportTicketUpdates]  WITH CHECK ADD  CONSTRAINT [FK_SupportTicketUpdates_SupportTicketUpdates_ParentMessageId] FOREIGN KEY([ParentMessageId])
REFERENCES [dbo].[SupportTicketUpdates] ([Id])
GO
ALTER TABLE [dbo].[SupportTicketUpdates] CHECK CONSTRAINT [FK_SupportTicketUpdates_SupportTicketUpdates_ParentMessageId]
GO
ALTER TABLE [dbo].[SupportTicketUpdates]  WITH CHECK ADD  CONSTRAINT [FK_SupportTicketUpdates_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SupportTicketUpdates] CHECK CONSTRAINT [FK_SupportTicketUpdates_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[UserCoupons]  WITH CHECK ADD FOREIGN KEY([CouponId])
REFERENCES [dbo].[Coupons] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCoupons]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[UserCoupons]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserCoupons]  WITH CHECK ADD  CONSTRAINT [FK_UserCoupons_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserCoupons] CHECK CONSTRAINT [FK_UserCoupons_Users_UserId]
GO
ALTER TABLE [dbo].[VoucherSpins]  WITH CHECK ADD FOREIGN KEY([CouponId])
REFERENCES [dbo].[Coupons] ([Id])
GO
ALTER TABLE [dbo].[VoucherSpins]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VoucherSpins]  WITH CHECK ADD  CONSTRAINT [FK_VoucherSpins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[VoucherSpins] CHECK CONSTRAINT [FK_VoucherSpins_Users_UserId]
GO
ALTER TABLE [dbo].[WarrantyClaims]  WITH CHECK ADD  CONSTRAINT [FK_WarrantyClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[WarrantyClaims] CHECK CONSTRAINT [FK_WarrantyClaims_Users_UserId]
GO
ALTER TABLE [dbo].[WarrantyClaims]  WITH CHECK ADD  CONSTRAINT [FK_WarrantyClaims_WarrantyRecords_WarrantyRecordId] FOREIGN KEY([WarrantyRecordId])
REFERENCES [dbo].[WarrantyRecords] ([Id])
GO
ALTER TABLE [dbo].[WarrantyClaims] CHECK CONSTRAINT [FK_WarrantyClaims_WarrantyRecords_WarrantyRecordId]
GO
ALTER TABLE [dbo].[WarrantyClaimUpdates]  WITH CHECK ADD FOREIGN KEY([WarrantyClaimId])
REFERENCES [dbo].[WarrantyClaims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarrantyClaimUpdates]  WITH CHECK ADD  CONSTRAINT [FK_WarrantyClaimUpdates_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[WarrantyClaimUpdates] CHECK CONSTRAINT [FK_WarrantyClaimUpdates_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[WarrantyRecords]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[WarrantyRecords]  WITH CHECK ADD  CONSTRAINT [FK_WarrantyRecords_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[WarrantyRecords] CHECK CONSTRAINT [FK_WarrantyRecords_Users_UserId]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_DiscountType] CHECK  (([DiscountType]='FreeShipping' OR [DiscountType]='Percent' OR [DiscountType]='Amount'))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_DiscountType]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_Type] CHECK  (([Type]='Shipping' OR [Type]='Product'))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_Type]
GO
ALTER TABLE [dbo].[InventoryReturns]  WITH CHECK ADD  CONSTRAINT [CK_InventoryReturns_Condition] CHECK  (([Condition]='Defective' OR [Condition]='Damaged' OR [Condition]='Used' OR [Condition]='OpenBox' OR [Condition]='New'))
GO
ALTER TABLE [dbo].[InventoryReturns] CHECK CONSTRAINT [CK_InventoryReturns_Condition]
GO
ALTER TABLE [dbo].[InventoryReturns]  WITH CHECK ADD  CONSTRAINT [CK_InventoryReturns_Status] CHECK  (([Status]='Damaged' OR [Status]='Restocked' OR [Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[InventoryReturns] CHECK CONSTRAINT [CK_InventoryReturns_Status]
GO
ALTER TABLE [dbo].[StockItems]  WITH CHECK ADD  CONSTRAINT [CK_StockItems_Status] CHECK  (([Status]='Lost' OR [Status]='Damaged' OR [Status]='Warranty' OR [Status]='Repairing' OR [Status]='Returned' OR [Status]='Sold' OR [Status]='Reserved' OR [Status]='InStock'))
GO
ALTER TABLE [dbo].[StockItems] CHECK CONSTRAINT [CK_StockItems_Status]
GO
ALTER TABLE [dbo].[UserCoupons]  WITH CHECK ADD  CONSTRAINT [CK_UserCoupons_Status] CHECK  (([Status]='Expired' OR [Status]='Removed' OR [Status]='Used' OR [Status]='Claimed'))
GO
ALTER TABLE [dbo].[UserCoupons] CHECK CONSTRAINT [CK_UserCoupons_Status]
GO
ALTER TABLE [dbo].[VoucherSpins]  WITH CHECK ADD  CONSTRAINT [CK_VoucherSpins_ResultType] CHECK  (([ResultType]='NoReward' OR [ResultType]='Coupon'))
GO
ALTER TABLE [dbo].[VoucherSpins] CHECK CONSTRAINT [CK_VoucherSpins_ResultType]
GO
