.electro-body {
    background: #fff;
}

.electro-shell button {
    cursor: pointer;
}

.electro-shell .nav-item.nav-link.active {
    color: #f28b00 !important;
}

.electro-product-fit {
    min-height: 170px;
    object-fit: contain;
}

.electro-cart-thumb {
    height: 72px;
    object-fit: contain;
    width: 72px;
}

.electro-cover {
    object-fit: cover;
}
.modal-footer {
    position: sticky;
    bottom: 0;
    background: #fff;
    z-index: 10;
    border-top: 1px solid #dee2e6;
}
.mega-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 25px 0;
    z-index: 999;
    border-top: 3px solid #ff9800;
}
.mega-menu i {
    width: 20px;
    text-align: center;
    color: #ff9800;
}
.mega-menu h6 {
    font-weight: bold;
    margin-bottom: 15px;
}

.mega-menu a {
    display: block;
    padding: 6px 0;
    color: #555;
    text-decoration: none;
    transition: 0.2s;
}

.mega-menu a:hover {
    color: #ff9800;
    transform: translateX(5px);
}